/*
 * nav-vis.css
 */

body.navjs {
  margin: 0px;
  padding: 0px;
  font-family: Roboto Condensed, Roboto, open sans, sans-serif;
  background-color: initial;
}
#vis.navjs.container {
  margin: 0px;
}
.navjs .navbar-default {
  background-color: #f7f7f7;
  border-color: #e7e7e7;
}
.navjs-header {
  height: 36px;
  font-family: Roboto Condensed;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.29;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}
.navjs-label {
  height: 16px;
  font-family: Roboto Condensed;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.23;
  letter-spacing: 0.87px;
  color: rgba(57, 66, 66, 0.8);
}
.navbar-nav.navjs-top li a {
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-nav.navjs-top li.active a,
.navbar-nav.navjs-top li.active a:hover,
.navbar-nav.navjs-side li.active a,
.navbar-nav.navjs-side li.hover {
  color: #007573;
  background-color: #d7f5f4;
}
.navjs-middle.nav-pills li,
.navjs-side.nav-pills li,
.navjs-bottom.nav-pills li {
  border-radius: 0;
  margin-left: 0px;
  padding-bottom: 1px;
  border-bottom: 1px solid #e7e7e7;
}
.navjs-bottom.navbar-nav.nav-pills li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navjs-middle.nav-pills li .navjs-label,
.navjs-side.nav-pills li .navjs-label,
.navjs-bottom.nav-pills li .navjs-label {
  height: 18px;
  font-size: 16px;
  font-family: "Roboto Condensed";
  font-weight: 300;
}
.navjs-middle.nav-pills li.active .navjs-label,
.navjs-side.nav-pills li.active .navjs-label,
.navjs-bottom.nav-pills li.active .navjs-label {
  font-weight: bold;
  color: #394242;
}
.navjs-middle.nav-pills li+li a,
.navjs-bottom.nav-pills li+li a {
  padding-left: 17px;
}
.navjs .navjs-middle.nav-pills li.active,
.navjs .navjs-side.nav-pills li.active,
.navjs .navjs-bottom.nav-pills li.active {
  padding-bottom: 0px;
  border-bottom: 2px solid #63cfcd;
}
.navjs .navbar .navjs-end-spacer {
  width: 60px;
  border-bottom: none;
}
.navjs .navbar li.navjs-widget-spacer {
  width: 180px;
  border-bottom: none;
}
.navjs .navbar li.navjs-widget-spacer a {
  cursor: default;
}
.navjs .navjs-metrics li {
  padding-top: 3px;
}
.navjs .navjs-metrics li.active {
  background-color: transparent;
  padding-top: 0px;
  border-top: 3px solid #63cfcd;
}
.navjs-middle.nav-pills li.active a,
.navjs-middle.nav-pills li.active a:hover,
.navjs-bottom.nav-pills li.active a,
.navjs-bottom.nav-pills li.active a:hover {
  background-color: transparent;
  font-weight: bold;
  color: var(--charcoal-grey);
}
.navjs .navbar a {
  color: var(--charcoal-grey);
}
.navjs .navbar ul li .navjs-metric-title {
  height: 22px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: var(--charcoal-grey);
  font-weight: 300;
  color: var(--charcoal-grey);
}
.navjs .navbar li.active .navjs-metric-title {
  font-weight: bold;
  font-style: normal;
  color: var(--charcoal-grey);
}
.navjs .navbar ul li .navjs-metric-value {
  height: 36px;
  font-family: Roboto Condensed;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.29;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}
.navjs .navbar ul li .navjs-comparison {
  height: 16px;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #8d9494;
}
.navjs-comparison-show_as_change-positive,
.navjs-comparison-show_as_change_reversed-negative {
  background-image: linear-gradient(to bottom, #2db364, rgba(45, 179, 100, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.navjs-comparison-show_as_change-negative,
.navjs-comparison-show_as_change_reversed-positive {
  background-image: linear-gradient(to bottom, #ff475d, rgba(255, 71, 93, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
